<% if current_user %>

  <h4><%= current_user.name %>´s All Products:</h4>

  <ul class="collapsible" data-collapsible="accordion">
    <% @products.each do |product| %>
      <li>
        <div class="collapsible-header"><i class="material-icons">info</i><%= product.title %></div>
        <div class="collapsible-body"><p><%= product.description %> - Deadline: <%= product.deadline %>
          <%= link_to("Edit", edit_user_product_path(product.user_id, product)) %> /
          <%= link_to("View", user_product_path(product.user_id, product)) %>
        </p></div>
      </li>
    <% end %>
  </ul>


  <%= link_to("Back", "/") %>

<% else %>

<h4>There are no products yet</h4>

<% end %>
